#grid {
    border: 1px solid black;
    border-spacing: 0;
    /* display: flex;
    flex-direction: column; */
    width: 150px;
    height: 150px;
    /* flex: 1; */
}
/* 
#grid > div {
    height: 200px; 
    display: flex;
    flex-direction: row;
} */

#grid div {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}